Options +FollowSymLinks -MultiViews +Indexes
RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteRule ^customer_registration$ ?page=customer_registration
RewriteRule ^get_customer_info$ ?page=get_customer_info
RewriteRule ^edit_customer_profile$ ?page=edit_customer_profile
RewriteRule ^update_customer_location$ ?page=update_customer_location
RewriteRule ^get_available_vehicle$ ?page=get_available_vehicle
RewriteRule ^book_now$ ?page=book_now
RewriteRule ^booking_status$ ?page=booking_status
RewriteRule ^send_push$ ?page=send_push
RewriteRule ^send_push_token$ ?page=send_push_token
RewriteRule ^get_driver_location$ ?page=get_driver_location
RewriteRule ^get_driver_info$ ?page=get_driver_info
RewriteRule ^fetch_view$ ?page=fetch_view
RewriteRule ^future_booking_list$ ?page=future_booking_list
RewriteRule ^completed_booking_list$ ?page=completed_booking_list
RewriteRule ^current_booking_list$ ?page=current_booking_list
RewriteRule ^get_booking_detail$ ?page=get_booking_detail
RewriteRule ^get_booking_status$ ?page=get_booking_status
RewriteRule ^driver_registration$ ?page=driver_registration
RewriteRule ^get_driver_info$ ?page=get_driver_info
RewriteRule ^edit_driver_info$ ?page=edit_driver_info
RewriteRule ^driver_future_booking_list$ ?page=driver_future_booking_list
RewriteRule ^driver_completed_booking_list$ ?page=driver_completed_booking_list
RewriteRule ^driver_current_booking_list$ ?page=driver_current_booking_list
RewriteRule ^get_driver_booking_status$ ?page=get_driver_booking_status
RewriteRule ^get_customer_location$ ?page=get_customer_location
RewriteRule ^update_customer_location$ ?page=update_customer_location
RewriteRule ^update_driver_location$ ?page=update_driver_location
RewriteRule ^register_customer_device$ ?page=register_customer_device
RewriteRule ^register_driver_device$ ?page=register_driver_device
RewriteRule ^confirm_booking$ ?page=confirm_booking
RewriteRule ^update_driver_device$ ?page=update_driver_device
RewriteRule ^update_customer_device$ ?page=update_customer_device
RewriteRule ^accept_booking$ ?page=accept_booking
RewriteRule ^get_completed_booking_status ?page=get_completed_booking_status
RewriteRule ^get_driver_completed_booking_status ?page=get_driver_completed_booking_status
RewriteRule ^bill_generated ?page=bill_generated
RewriteRule ^rate_driver ?page=rate_driver
RewriteRule ^rate_customer ?page=rate_customer
RewriteRule ^get_city$ ?page=get_city
RewriteRule ^get_new_booking$ ?page=get_new_booking	
RewriteRule ^change_driver_status$ ?page=change_driver_status
RewriteRule ^owner_registration$ ?page=owner_registration
RewriteRule ^my_trucks$ ?page=my_trucks
RewriteRule ^edit_owner_profile$ ?page=edit_owner_profile
RewriteRule ^get_owner_info$ ?page=get_owner_info
RewriteRule ^my_driver_list$ ?page=my_driver_list 
RewriteRule ^owner_current_booking_list$ ?page=owner_current_booking_list
RewriteRule ^owner_future_booking_list$ ?page=owner_future_booking_list
RewriteRule ^driver_notassigned$ ?page=driver_notassigned
RewriteRule ^get_details$ ?page=get_details
RewriteRule ^my_driver_details$ ?page=my_driver_details
RewriteRule ^test_push$ ?page=test_push